.navbar{
    background-color: darkslategray;
    height: 35px;
    position: absolute;
}
.navbar-text {
    color: white;
}
.nav-link {
    color : green;
}
.backround {
    position: absolute;
    background-image: url("../pozadie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.prihlasenie {
    right : 25px;
    position: absolute;
}
.kosik {
    right: 130px;
    position: absolute;
}
.stred {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.white {
    color: white;
}
.container {
    position: absolute;
    height: 800px;
    width: 950px;
    background-color: honeydew;
    left: 50%;
    top:50%;
    transform: translate(-50%, -43%) ;
}
.stredX {
    left: 50%;
    transform: translate(-50%, 0%) ;
}

.btn {
    position: absolute;
    right: 200px;
    width: 150px;
    height: 50px;
    top: 400px;
}
.spat {
    position: absolute;
    left: 150px;
    width: 150px;
    height: 50px;
    top: 400px;
}
.card {
    position: absolute;
    height: 300px;
    width: 200px;
}
@media screen and (max-width: 769px){
    .navbar{
        background-color: darkslategray;
        height: 35px;

    }
    .navbar-text {
        color: white;
        width: 100px;
    }
    .nav-link {
        width: 100px;
        position: sticky;
        color : white;
    }
    .nav-item {
        width: 100px;

    }
    .backround {
        background-image: url("../pozadie.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .stred {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .container {
        position: fixed;
        min-height: 800px;
        min-width: 550px;
        background-color: honeydew;
        left: 50%;
        top:50%;
        transform: translate(-50%, -35%) ;

    }

    .btn {
        position: fixed;
        right: 30px;
        width: 100px;
        top: 50%;
    }

    .stredX {
        left: 50%;
        transform: translate(-50%, 0%) ;
    }
    .spat {
        position: fixed;
        left: 30px;
        height: 50px;
        top: 50%;
    }
}