.navbar{
    background-color: darkslategray;
    height: 35px;
    position: absolute;
}
.navbar-text {
    color: white;
}
.nav-link {
    color : green;
}
.backround {
    position: absolute;
    background-image: url("../pozadie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.prihlasenie {
    right : 25px;
    position: absolute;
}
.kosik {
    right: 130px;
    position: absolute;
}
.stred {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.white {
    color: white;
}
.container {
    position: absolute;
    height: 800px;
    width: 950px;
    background-color: silver;
    left: 50%;
    top:50%;
    transform: translate(-50%, -43%) ;
}

.stredX {
    left: 50%;
    transform: translate(-50%, 0%) ;
}
.form-group {
    position: absolute;
    height: 50px;
    width: 200px;
}
.btn {
    position: absolute;
    top: 250px;
}
.meno {
   top: 30px;
}
.heslo {
  top: 120px;
}
.pamataj {
    top: 200px;
}
.register {
    top: 300px;
}
@media screen and (max-width: 769px){
    .navbar{
        background-color: darkslategray;
        height: 35px;

    }
    .navbar-text {
        color: white;
        width: 100px;
    }
    .nav-link {
        width: 100px;
        position: sticky;
        color : white;
    }
    .nav-item {
        width: 100px;

    }
    .backround {

        background-image: url("../pozadie.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .stred {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .container {

        height: 800px;
        width: 400px;
        background-color: silver;
        left: 50%;
        top:50%;
        transform: translate(-50%, -35%) ;
    }

    .btn {

        right: 0px;
        width: 100px;
    }

    .stredX {
        left: 50%;
        transform: translate(-50%, 0%) ;
    }
}