.navbar{
    background-color: darkslategray;
    height: 35px;
    position: absolute;
}
.navbar-text {
    color: white;
}
.nav-link {
    color : green;
}
.backround {
    position: absolute;
    background-image: url("../pozadie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.prihlasenie {
    right : 25px;
    position: absolute;
}
.kosik {
    right: 130px;
    position: absolute;
}
.stred {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.white {
    color: white;
}
.container {
    position: absolute;
    height: 800px;
    width: 950px;
    background-color: darksalmon;
    left: 50%;
    top:50%;
    transform: translate(-50%, -43%) ;
}
.row {
    position: absolute;
    background-color: coral;
}
.collumn {
    position: absolute;
    left: 0px;
    height: 800px;
    width: 150px;
}

.kategorie {
    position: absolute;
    left: 0px;
    height: 800px;
    width: 150px;
}
.vyhladavac {
    position: absolute;
    right: 100px;
    width: 300px;
}
.btn {
    position: absolute;
    right: 0px;
    width: 100px;
}
.pagination {
    position: absolute;
    bottom: 10px;

}
.stredX {
    left: 50%;
    transform: translate(-50%, 0%) ;
}
@media screen and (max-width: 769px){
    .navbar{
        background-color: darkslategray;
        height: 35px;

    }
    .navbar-text {
        color: white;
        width: 100px;

    }
    .nav-link {
        width: 100px;
        position: sticky;
        color : white;
    }
    .nav-item {
        width: 100px;

    }
    .backround {

        background-image: url("../pozadie.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .stred {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .white {
        color: white;
    }
    .container {

        height: 800px;
        width: 400px;
        background-color: darksalmon;
        left: 50%;
        top:50%;
        transform: translate(-50%, -35%) ;
    }
    .row {
        background-color: coral;
    }
    .collumn {
        left: 0px;
        height: 800px;
        width: 150px;
    }

    .kategorie {

        left: 0px;
        height: 80%;
        width: 100px;
    }
    .vyhladavac {

        right: 100px;
        width: 20%;
    }
    .btn {

        right: 0px;
        width: 100px;
    }
    .pagination {
        width: 30%;
        bottom: 10px;

    }
    .page-link {
        width: 50px;
        text-overflow: ellipsis;
        overflow: hidden;

    }
    .stredX {
        left: 50%;
        transform: translate(-50%, 0%) ;
    }
}